{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env"
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-umd",
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathPrefix": "@components",
            "rootPathSuffix": "./src/"
          }
        ]
      }
    ]
  ]
}
